body { font-size: 12px; }
.grey-block {
	background: #f6f6f6;
	border: 1px solid #eee;
	padding: 10px;
}
.file-list .remove-btn {
	position: absolute;
	right: 0;
	top: 9px;
}
.file-list li { position: relative; }
.file-list li a {
	border: solid #ddd;
	border-width: 1px 0;
	margin-top: -1px;
}
.file-list .file-icon { float: left; margin: 7px 5px 0 0; }
.clearfix { clear: both; overflow: hidden; }
.side-margins { margin: 0 30px; min-width: 1000px; }
.table-data { height: 500px; overflow: scroll; }
.table-data .xAxis { background: #E0E0E0; }
.controls { height: 30px; padding: 10px 0; }
.main-log { overflow: scroll; height: 200px; }
.main-chart-wrapper { height: 500px; }
.chart-block { height: 100%; width: 100%; }
.preferences-form .form-field { padding: 15px 0; border-bottom: 1px dashed #ccc; overflow: hidden; clear: both; }
.preferences-form .buttons { margin-top: 20px; float: right; }
.preferences-form .holder { float: left; }
.preferences-form .label-holder { width: 60%; }
.preferences-form .field-holder { text-align: center; width: 40%; }
.ui-widget {font-size: 1em;}